<!DOCTYPE html>
<html lang="en">
    <%- include("./templates/head") %>
<body>
  <%- include("./templates/nav")%>
   <h1>Lista de Productos</h1> 
    <table class="table table-success table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NOMBRE</th>
          <th scope="col">PRECIO</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(function(p){%>
        <tr>
          <th scope="row"><%=p.id%> </th>
          <td><%=p.nombreprod%>
            <%if(p.nombreprod === "") {%>
              <p>No se encontro el producto</p>
            <%}%></td>
          <td> $<%=p.precio%></td>
          <td></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <a class="btn btn-outline-success" href="/ejs/form" role="button">Volver a cargar</a>
</html>
